$blockquote-font-size: 3.5em;
$blockquote-footer-font-size:1.3em;
$font-family-sans-serif:'Hind',
sans-serif;

@import "../libs/bootstrap/scss/bootstrap.scss";

// NAVBAR

#inicio {
    background-repeat: repeat;
    background-image: url(../img/background-navbar.jpg);
    background-position: top center;
    background-attachment: fixed;
}

#padding-navbar {
    padding-top: 20em;
    padding-bottom: 0;
}

#fondo-nav {
    background-color: rgba(0, 0, 0, 0.8);

}





.carousel-item {
    height: 32rem;
    background: black;
    color: white;
    position: relative;

}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image-slider01 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1560631820-5bc34db86fe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);

}

.overlay-image-slider02 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1476525223214-c31ff100e1ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);

}

.overlay-image-slider03 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1493690283958-32df2c86326e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80);

}

.overlay-image-slider04 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1550759808-37c78fb8f1e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1336&q=80);

}

.text-shadow {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}



.fadeinleft {
    -webkit-animation: fadeinleft 1.2s both;
    -moz-animation: fadeinleft 1.2s both;
    -o-animation: fadeinleft 1.2s both;
    animation: fadeinleft 1.2s both;
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeintop {
    -webkit-animation: fadeintop 1.2s both;
    -moz-animation: fadeintop 1.2s both;
    -o-animation: fadeintop 1.2s both;
    animation: fadeintop 1.2s both;
}

@keyframes fadeintop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinright {
    -webkit-animation: fadeinright 1.2s both;
    -moz-animation: fadeinright 1.2s both;
    -o-animation: fadeinright 1.2s both;
    animation: fadeinright 1.2s both;
}

@keyframes fadeinright {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.primera-mayus:first-letter {
    text-transform: uppercase;
}

.todo-mayus {
    text-transform: uppercase;
}

.widhtFotos {
    width: 18rem;
}

.fs-7 {
    font-size: .95rem !important;
}

.footerArt {
    width: 15%;
}

.blockquote-footer::after {
    content: "\2014\00A0";
}

.logo-navbar {
    width: 75;
}