$font-family-sans-serif:'Hind',
sans-serif;

// variables del carrusel
$carousel-control-next-icon-bg:url("../img/arrow-right-circle-fill.png");
$carousel-control-prev-icon-bg:url("../img/arrow-left-circle-fill.png");
$carousel-control-icon-width: 2.5rem;
$carousel-dark-indicator-active-bg: red;
$carousel-dark-caption-color:red;
$carousel-indicator-active-bg:red;

// variables generador de contenidos
$blockquote-font-size: 1.5em;
$blockquote-footer-font-size:1em;
$blockquote-footer-color:rgb(43, 42, 42);

// variables del color

$gray-600: rgb(156, 156, 156) !default;

@import "../libs/bootstrap/scss/bootstrap.scss";

// NAVBAR 

#inicio {
    background-repeat: repeat;
    background-image: url(../img/background-navbar.jpg);
    background-position: top center;
    background-attachment: fixed;
}

#padding-navbar {
    padding-top: 20em;
    padding-bottom: 0;
}

#padding-navbar section a img {
    width: 4.3em;
}

#fondo-nav {
    background-color: rgba(0, 0, 0, 0.8);

}

// CARRUSEL

.carousel-item {
    height: 32rem;
    background: black;
    color: white;
    position: relative;

}

.container-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

//  CARRUSEL: sliders

#slider01 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../img/slider01.jpg);
}

#slider02 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/slider02.jpg);

}

#slider03 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../img/slider03.jpg);

}

#slider04 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../img/slider04.jpg);

}

.background-text-slider {
    background-color: rgba(0, 0, 0, 0.8);
}

//NOSOTROS
#nosotros {
    background-color: rgba(246, 246, 246, 255);
}

#logo-nosotros {
    height: 9.5em;
}

#nosotros-cards article {
    width: 18rem;
}

.bg-nosotros {
    background-color: rgba($color: #fcd45e, $alpha: 1.0);
}


// NOSOTROS: animacion

.fadeinleft {
    -webkit-animation: fadeinleft 1.2s both;
    -moz-animation: fadeinleft 1.2s both;
    -o-animation: fadeinleft 1.2s both;
    animation: fadeinleft 1.2s both;
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeintop {
    -webkit-animation: fadeintop 1.2s both;
    -moz-animation: fadeintop 1.2s both;
    -o-animation: fadeintop 1.2s both;
    animation: fadeintop 1.2s both;
}

@keyframes fadeintop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinright {
    -webkit-animation: fadeinright 1.2s both;
    -moz-animation: fadeinright 1.2s both;
    -o-animation: fadeinright 1.2s both;
    animation: fadeinright 1.2s both;
}

@keyframes fadeinright {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// GENERADOR ALEATORIO DE CONTENIDOS

#motivate article {
    position: relative;
    display: flex;
    text-align: center;
}

#motivate article p {
    color: black !important;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.texto-encima-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blockquote-footer::after {
    content: "\2014\00A0";
}

.bg-azar {
    background-color: rgba(228, 8, 8, 0.7);
}

// CONTACTANOS

#contactanos {
    background-color: rgba(246, 246, 246, 255);
}

// TEXTO

.primera-mayus:first-letter {
    text-transform: uppercase;
}

.todo-mayus {
    text-transform: uppercase;
}


.fs-7 {
    font-size: .95rem !important;
}


// INCLUSION

#video {
    height: 32rem;

}

#inclusion {
    background-color: white;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(246, 246, 246, 01.5) 25px, rgba(246, 246, 246, 0.5) 40px);
}

// FOOTER

.bg-footer {
    background-color: rgba(0, 0, 0, 0.89);
}

.footerArt {
    width: 15%;
}

.text-gris {
    color: rgb(156, 156, 156);
}